* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(231, 231, 231);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  height: 55px;
  font-size: 15px;
  padding: 9px 13px 0 13px;
  background-color: #f9a66c;
  color: #4a6163;
  display: flex;
  flex-direction: row;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 40px 20px;
  width: 100%;
  flex: 1;
  min-height: calc(100vh - 105px); 
}

.box {
  background-color: #f1f1f1;
  padding: 20px;
  border: 1px solid black;
  text-align: center;
  flex: 0 1 380px; 
  height: 380px;
  margin: 10px;
  border-radius: 10px;
}

nav {
  margin-left: auto;
  font-size: 14px;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

footer {
  width: 100%;
  height: 50px;
  background-color: #f9a66c;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

h3 { font-size: 20px; }
a { color: #000000; text-decoration: none; }
a:hover { color: #757575; }
a:active { color: rgb(255, 207, 173); }
img {
  width: 300px;
  height: 170px;
  border-radius: 10px;
  border: 2px solid black;
}
.test { font-size: 20px; }
